body {
  margin: 0px;
  padding: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Wix Madefor Text", sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.content {
  display: flex;
  width: 70vw;
  height: 80vh;
}
.atributes {
  height: 630px;
  width: 504px;
  background-image: linear-gradient(to bottom, #6642fe 50%, #4433f1);
  border-radius: 50px 50px 50px 50px;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.atr_content {
  position: relative;
  top: 0;
  margin: 0;
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  position: relative;
  height: 30px;
  font-size: 20px;
  margin: 0;
  color: #cbc3ff;
}
.circle {
  position: relative;
  top: 40px;
  height: 210px;
  width: 210px;
  background-image: linear-gradient(to bottom, #4925cf, #4533eb, #5f3ffb);
  border-radius: 100px;
}

h1 {
  color: #fcffff;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 504px;
}
.text_description {
  position: relative;
  bottom: 40px;
  width: 200px;
  font-size: 0.9em;
  color: #cbc3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
